<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.ex06.FeedMapper">
	<!-- ★ ${key 이름} : mybatis-config.xml의 property - name(vo)과 매칭. DB 테이블의 
		컬럼 ★ #{key 이름} : dao 클래스의 sqlSession에서 전송받은 데이터 변수명(입력받은 데이터) -->



	<!-- 
		INSERT INTO [테이블명] values([시퀀스명].NEXTVAL, 'test');
	 -->
	
	<insert id="insert">
		insert into ${feed}
		values (FEED_SEQ.NEXTVAL, #{feedContent}, #{userId}, #{userNickname}, #{userProfile}, 0, 0, sysdate, #{musicTitle}, #{feedPhoto})
	</insert>
		
	<select id="select_all" resultType="FeedVO">
	 	select ${feedId}, ${feedContent}, ${userId}, ${userNickname}, ${userProfile},  
	 	${replyCount}, ${likeCount}, ${feedDate}, ${musicTitle}, ${feedPhoto} from ${feed}
	 	order by ${feedDate} desc
	 </select>
	 
	 <select id="select_all_by_userid" resultType="FeedVO">
	 	select ${feedId}, ${feedContent}, ${userId}, ${userNickname}, ${userProfile},  
	 	${replyCount}, ${likeCount}, ${feedDate}, ${musicTitle}, ${feedPhoto} from ${feed}
	 	where ${userId} = #{userId}
	 	order by ${feedDate} desc
	 </select>
	 
	 <select id="select" resultType="FeedVO">
		select ${feedId}, ${feedContent}, ${userId}, ${userNickname}, ${userProfile},  
	 	${replyCount}, ${likeCount}, ${feedDate}, ${musicTitle}, ${feedPhoto} from ${feed}
		where ${feedId} = #{feedId}
	 </select>
	 
	 <select id="select_by_userid" resultType="FeedVO">
		select ${feedId}, ${feedContent}, ${userId}, ${userNickname}, ${userProfile},  
	 	${replyCount}, ${likeCount}, ${feedDate}, ${musicTitle}, ${feedPhoto} from ${feed}
		where ${userId} = #{userId}
	 </select>
	
	 <update id="update_content">
	 	update ${feed} 
	 	set 
	 	${feedContent} = #{feedContent}
	 	where ${feedId} = #{feedId}
	 </update>
	 
	 <delete id="delete">
	 	delete from ${feed}
	 	where ${feedId} = #{feedId}
	 </delete>
	 
	 <select id="total_like" resultType="Integer">
		select count(*) total_like from ${feed}
	</select>
	
	<update id="update_like_cnt">
		update ${feed} 
		set ${likeCount} = ${likeCount} + #{amount} 
		where ${feedId} = #{feedId}
	</update>
	
	<update id="update_reply_cnt">
		update ${feed}
		set ${replyCount} = ${replyCount} + #{amount}
		where ${feedId} = #{feedId}
	</update>
	
	<update id="update_profile">
		update ${feed}
		set ${userNickname} = #{userNickname}, ${userProfile} = #{userProfile}
		where ${userId} = #{userId}
	</update>
	

</mapper>