<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.ex06.FollowMapper">
	
	
	<insert id="insert">
		insert into ${follow}
		values (follow_seq.nextval, #{followerUserId}, #{followingUserId})
	</insert>
	
	<select id="select_follower_cnt" resultType="Integer">
		select count(${followId}) from ${follow}
		where ${followerUserId} = #{followerUserId}
	</select>
	
	<select id="select_following_cnt" resultType="Integer">
		select count(${followId}) from ${follow}
		where ${followingUserId} = #{followingUserId}
	</select>
	
	
	<delete id="delete">
		delete from ${follow}
		where ${followerUserId} = #{followerUserId} and ${followingUserId} = #{followingUserId}
	</delete>
	
	<select id="select_follower_list" resultType="UserInfoVO">
		select u.${userId}, u.${userNickname}, u.${userProfile} from ${user_info} u
		join ${follow} f on u.${userId} = f.${followerUserId} where f.${followingUserId} = #{followingUserId} 
	</select>
	
	<select id="select_following_list" resultType="UserInfoVO">
		select u.${userId}, u.${userNickname}, u.${userProfile} from ${user_info} u
		join ${follow} f on u.${userId} = f.${followingUserId} where f.${followerUserId} = #{followerUserId} 
	</select>

</mapper>